---
import { Image } from 'astro:assets';

interface Props {
  linkText: string;
  imageOne:string;
  imageTwo:string;
}
const { linkText, imageOne, imageTwo } = Astro.props;
---

<section class="py-12">
  <div class="grid grid-cols-2 p-4">
    <div>
      <h1 class="text-white text-5xl italic max-w-xs yellowText pb-8">About Our Vending Providers</h1>
      <p class="text-white max-w-sm">
        Will Vending was established in 2024 by one man, William Thornhill. Since then, he has been
        dedicated to providing the best vending experiences & services throughout various locations in Arizona.
      </p>
      <p class="text-white mt-8 underline">
        <a href={linkText}>Learn more</a>
      </p>
    </div>
    <div className="grid grid-cols-2 gap-4" style={{ transform: 'scale(0.5)' }}>
        <Image
            src={`/images/${imageOne}`}
            width={600}
            height={600 / 1.5}
            alt="Vending1"
            className="rounded-md object-cover w-full h-auto"
        />
        <Image
            src={`/images/${imageTwo}`}
            width={600}
            height={600 / 1.5}
            alt="Vending2"
            className="rounded-md object-cover w-full h-auto pt-8"
        />
    </div>
  </div>
</section>
