---
import { Image } from 'astro:assets';

interface Props {
  linkText: string;
  imageOne:string;
  imageTwo:string;
}
const { linkText, imageOne, imageTwo } = Astro.props;
---

<section class="py-12">
  <div class="grid grid-cols-2 p-4">
    <div>
      <h1 class="text-white text-5xl italic max-w-xs yellowText pb-8">About Our Vending Providers</h1>
      <p class="text-white max-w-sm">
        Will Vending was established in 2024 by one man, William Thornhill. Since then, he has been
        dedicated to providing the best vending experiences & services throughout various locations in Arizona.
      </p>
      <p class="text-white mt-8 underline">
        <a href={linkText}>Learn more</a>
      </p>
    </div>
    <div className="grid grid-cols-2 gap-4">
        <div className="w-9/12 mx-auto">
            <Image
                src={`/images/${imageOne}`}
                layout="responsive"
                width={600} // Original image width
                height={600 / 1.5} // Original image height
                alt="Vending1"
                className="rounded-md object-cover"
            />
        </div>
        <div className="w-9/12 mx-auto">
            <Image
                src={`/images/${imageTwo}`}
                layout="responsive"
                width={600} // Original image width
                height={600 / 1.5} // Original image height
                alt="Vending2"
                className="rounded-md object-cover pt-8"
            />
        </div>
    </div>
  </div>
</section>
