---
const testimonials = [
  {
    profileURL: "gym-femaleinstructor.jpg",
    author: "Jane Doe",
    age: 7,
    quote:
      "N/A",
  },
  {
    profileURL: "gym-ropes.jpg",
    author: "Jane Doe",
    age: 5,
    quote:
      "N/A",
  },
  {
    profileURL: "gym-instructor.jpg",
    author: "John Doe",
    age: 2,
    quote:
      "N/A",
  },
];
---
<section class="py-12">
  <h1 class="yellowText text-5xl italic uppercase text-center">Vending Approvals</h1>
  <div class="grid grid-cols-1 md:grid-cols-3">
    {
      testimonials.map((profile)=>(
        <div class="m-4">
          <img src={'/images/'+profile.profileURL} alt="Testimonial" class="object-cover w-full h-48"/>
          <div class="yellowBG p-8">
            <p class="pb-4 font-bold text-white">
              {profile.quote}
              </p>
              <p class="text-white"><small>{profile.author}, {profile.age}</small></p>
            </div>
          </div>

      ))
    }
  </div>
</section>
